<components-header title='Delete Post'></components-header>
<ion-content class='contenido'>
    <ion-label position="fixed">Post Id:</ion-label>
    <ion-input (change)="mostrar()" [(ngModel)]='postId' placeholder="Enter userId"></ion-input>
    <hr/>
    <button ion-button>Load post</button>
    <post-form [post]=post></post-form>
    <button ion-button (click)="deletePost()">Delete Post</button>
</ion-content>
