<!-- Generated template for the PostFormComponent component -->
<ion-card >
    <ion-card-header>
      <ion-card-title  class='wrap'>Post</ion-card-title>
    </ion-card-header>    
    <ion-card-content class='wrap'>
        <ion-label position="fixed">Title:</ion-label>
        <ion-input [(ngModel)] = "post.title" placeholder="Enter title"></ion-input>
        <ion-label position="fixed">Body:</ion-label>
        <ion-input [(ngModel)] = "post.body" placeholder="Enter body"></ion-input>
        <ion-label position="fixed">userId:</ion-label>
        <ion-input [(ngModel)] = "post.userId" placeholder="Enter userId"></ion-input>
        <ion-label position="fixed">Id:</ion-label>
        <ion-input [(ngModel)] = "post.id" placeholder="Enter userId"></ion-input>
    </ion-card-content>
</ion-card>