<ion-list>
    <ion-card ion-item *ngFor="let p of posts" >
      <ion-card-header>
        <ion-card-title  class='wrap'><ion-icon name="mail"></ion-icon>{{p.email}}</ion-card-title>  
        <ion-card-title  class='wrap'>{{p.name}}</ion-card-title>              
      </ion-card-header>    
      <ion-card-content class='wrap'>{{p.body}}</ion-card-content>
    </ion-card>
  </ion-list>
