<components-header title='Post comments'></components-header>
<ion-content class='contenido'>
    <ion-label position="fixed">PostId:</ion-label>
    <ion-input (change)="mostrar()" [(ngModel)]='postId' placeholder="Enter postId"></ion-input>
    <hr/>

    <ion-card >
        <ion-card-header>
          <ion-card-title  class='wrap'>{{post.title}}</ion-card-title>
        </ion-card-header>    
        <ion-card-content class='wrap'>{{post.body}}</ion-card-content>
      </ion-card>

    <button ion-button>Update list</button>
    <!-- <post-list [url]="url1"></post-list> -->
    
    <comment-list [url]="urlComments"></comment-list>
</ion-content>

