<components-header title='Add Post'></components-header>
<ion-content class='contenido'>
    <post-form [post]=post></post-form>
    <button ion-button (click)="updatePost()">Add</button>
</ion-content>