<components-header title='Filtered Posts List'></components-header>

<ion-content class='contenido'>
        <ion-label position="fixed">UserId:</ion-label>
        <ion-input (change)="mostrar()" [(ngModel)]='userId' placeholder="Enter userId"></ion-input>
        <hr/>
        <button ion-button>Update list</button>
        <post-list [url]="url1"></post-list>
</ion-content>
