<!-- Generated template for the PostListComponent component -->
<ion-list>
    <ion-card ion-item *ngFor="let p of posts" >
      <ion-card-header>
        <ion-card-title  class='wrap'>{{p.title}}</ion-card-title>
      </ion-card-header>    
      <ion-card-content class='wrap'>{{p.body}}</ion-card-content>
    </ion-card>
  </ion-list>
